.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  margin-bottom: 4rem;
}

.navList {
  display: none;
  gap: 25px;
  list-style: none;
}

.navLogo {
  font-weight: 700;
  text-transform: uppercase;
}

.navLogoSpan {
  color: dodgerblue;
}

.navButton {
  font-size: 1.3em;
}
